* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sfondo {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 20px);
  margin: 10px;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.titolo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 80px;
  color: rgb(255, 255 , 255);
  text-shadow: 4px 2px 3px rgb(0, 0, 0);
}

#roma {
  background-image: url(../img/roma.jpg);
  background-position: center;
}

#firenze {
  background-image: url(../img/firenze.jpg);
  background-position: bottom;
}

#venezia {
  background-image: url(../img/venezia.jpg);
  background-position: center;
}
